{% extends 'base.html.twig' %}

{% block title %}Mes Projets{% endblock %}

{% block body %}
    <div class="container mx-auto my-10 min-h-screen flex flex-col">
        <h1 class="text-4xl font-bold text-center text-gray-800 mb-12">Mes Projets</h1>

        <!-- Section des projets -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 flex-grow">

            <!-- Carte de projet 1 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 1: Vérification de palindrome en JavaScript</h2>
                    <p class="text-gray-600 mt-2">
                        Un exercice classique pour détecter les palindromes et gérer la cohérence des données textuelles.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_jour-1-palinhtml-at-master-yassmambo-activity-7254529466524143617-Npow?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 2 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 2: Conversion de température en JavaScript</h2>
                    <p class="text-gray-600 mt-2">
                        Une interface dynamique pour convertir des températures Celsius/Fahrenheit avec indications météo.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_github-yassmambojour-2-conversion-meteo-activity-7254891949562744834-r2Lr?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 3 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 3: Calculatrice FizzBuzz en JavaScript</h2>
                    <p class="text-gray-600 mt-2">
                        Une calculatrice qui remplace le résultat par "Fizz", "Buzz" ou "FizzBuzz" selon les multiples.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_github-yassmambojour-3-calculatrice-fizzbuzz-activity-7255246710740856832-GvPI?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 4 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 4: Manipulation de tableaux en JavaScript</h2>
                    <p class="text-gray-600 mt-2">
                        Tri, calcul du maximum et moyenne d’un tableau pour la gestion de données structurées.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_javascript-daezveloppeurweb-fullstack-activity-7255609092776374272-PkIs?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 5 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 5: Appel API en JavaScript !</h2>
                    <p class="text-gray-600 mt-2">
                        Utilisation d'API pour afficher des images de chats, introduisant la gestion des promesses.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_github-yassmambojour-5-utilisation-dapi-activity-7256711340092805122-FQu2?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 6 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 6: Découverte de TypeScript et de la Compilation en JavaScript </h2>
                    <p class="text-gray-600 mt-2">
                        Introduction à TypeScript pour typage de données et compilation, renforçant la fiabilité du code.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_github-yassmambojour-6-activity-7257148995087527937-Dpvs?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 7 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 7: La Complexité Temporelle en Algorithmique</h2>
                    <p class="text-gray-600 mt-2">
                        Exploration des complexités Big O pour optimiser les algorithmes et gérer les gros volumes de données.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_algorithmes-complexitaeztemporelle-bigo-activity-7257490789616824320-jB_f?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

            <!-- Carte de projet 8 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col flex-grow">
                <div class="p-6 flex-grow">
                    <h2 class="text-2xl font-semibold text-gray-800"> JOUR 8: Page Static en Symfony</h2>
                    <p class="text-gray-600 mt-2">
                        Création d'une page statique en Symfony avec Twig, pour centraliser le design dans les templates.
                    </p>
                </div>
                <div class="p-6">
                    <a href="https://www.linkedin.com/posts/yasser-el-kannafi_github-yassmambojour-8-activity-7257810442905960448-w-ti?utm_source=share&utm_medium=member_desktop" target="_blank" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Voir le projet</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
